@model MVC_ChiefsCorner.Models.Menu

@{
    ViewData["Title"] = "Add to Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-3">Add to Order</h1>
<hr />

<div class="text-center">
    <h4>@Model.Name</h4>
    <hr />
    <form method="post" asp-action="AddToOrder" asp-controller="Menu">
        <input type="hidden" name="menuId" value="@Model.Id" />

        <label for="size">Select Size:</label>
        <select id="size" name="size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
        </select>

        <br />

        <button type="submit" class="btn btn-primary">Add to Order</button>
    </form>
</div>